body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 20px;
    text-align: center;
    flex-direction: column;
}


.topo {
    text-align: center;
    flex-direction: column;
    margin: 10px;
    padding: 0%;
    font-family: 'Times New Roman', Times, serif;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

label {
    margin-top: 10px;
}

input {
    padding: 8px;
    margin-top: 5px;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#clientesList {
    margin-top: 20px;
}
